In [8]:
import pandas as pd

In [22]:
df = pd.read_spss("1ResearchProjectData.sav")

In [13]:
# Loading the dataset
df.head()

   Student Teacher  Gender            Ethnic    Freeredu  Score       wesson
0      1.0   Ruger  Female             Asian  Free lunch   76.0  Ruger_Smith
1      2.0   Ruger  Female          Hispanic  Paid lunch   56.0  Ruger_Smith
2      3.0   Ruger  Female  African-American  Free lunch   34.0  Ruger_Smith
3      4.0   Ruger  Female             Asian  Paid lunch   59.0  Ruger_Smith
4      5.0   Ruger    Male          Hispanic  Free lunch   73.0  Ruger_Smith

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Student   216 non-null    float64
 1   Teacher   216 non-null    category
 2   Gender    216 non-null    category
 3   Ethnic    216 non-null    category
 4   Freeredu  216 non-null    category
 5   Score     216 non-null    float64
 6   wesson    217 non-null    category
dtypes: category(5), float64(2)
memory usage: 5.3 KB

In [23]:
df.shape

(217, 7)

In [24]:
df.isnull().sum()

Student     1
Teacher     1
Gender      1
Ethnic      1
Freeredu    1
Score       1
wesson      0
dtype: int64

In [25]:
# Drop null record(s)
df.dropna(inplace = True)

In [27]:
df.isnull().sum()

Student     0
Teacher     0
Gender      0
Ethnic      0
Freeredu    0
Score       0
wesson      0
dtype: int64

In [28]:
df.shape

(216, 7)

In [30]:
# Create a new column to rename to "traditional" or "standard" method based on the description of the problem
df['Method'] = df['wesson'].apply(lambda x: 'Standard' if 'Ruger_Smith' in x else 'Traditional')

In [31]:
df.head()

,Student,Teacher,Gender,Ethnic,Freeredu,Score,wesson,Method
0,1.0,Ruger,Female,Asian,Free lunch,76.0,Ruger_Smith,Standard
1,2.0,Ruger,Female,Hispanic,Paid lunch,56.0,Ruger_Smith,Standard
2,3.0,Ruger,Female,African-American,Free lunch,34.0,Ruger_Smith,Standard
3,4.0,Ruger,Female,Asian,Paid lunch,59.0,Ruger_Smith,Standard
4,5.0,Ruger,Male,Hispanic,Free lunch,73.0,Ruger_Smith,Standard

In [32]:
df.Method.value_counts()
# More people were taught using the Standard method

Standard       140
Traditional     76
Name: Method, dtype: int64

In [35]:
import numpy as np
# import numpy for data analysis

In [56]:
# Average score of people who used the standard method
average_standard = np.mean(df.Score[df.Method == 'Standard'])
print(f'{average_standard} is the average score for the standard method of teaching')

62.33571428571429 is the average score for the standard method of teaching

In [55]:
# average score of people who used the Traditional method
average_traditional = np.mean(df.Score[df.Method == 'Traditional'])
print(f'{average_traditional} is the average score for the traditional method of teaching')

70.6842105263158 is the average score for the traditional method

In [57]:
print("Conclusion is that the traditional score might have been more effective even though it was used to teach a lesser number of people")

Conclusion is that the traditional score might have been more effective even though it was used to teach a lesser number of people